<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo</title>
     <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"type="application/javascript"></script>
    <script src="{{ url_for('static', filename='chats.js') }}"type="application/javascript"></script>
</head>
<body>
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
   <div class="row container">
    <div class="col-md-6">
        <div class="row container ">
            <h1 class="text-center col-md-12">titulo1</h1>
            <iframe width="400" height="500" frameborder="0" scrolling="no" src="http://plot.ly/~R.melendez/6.embed?autosize=True&link=false&modebar=false"></iframe>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row container ">
            <h1 class="text-center col-md-12">titulo1</h1>
            <iframe width="500" height="500" frameborder="0" scrolling="no" src="http://plot.ly/~R.melendez/10.embed?&link=false&modebar=false"></iframe>
        </div>

    </div>

</div>
   <div class="row container">
        <div class="col-md-6">
            <div class="row container ">
                <h1 class="text-center col-md-12">titulo1</h1>
                <iframe width="500" height="500" frameborder="0" scrolling="no" src="http://plot.ly/~R.melendez/12.embed?&link=false&modebar=false"></iframe>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row container ">
                <h1 class="text-center col-md-12">titulo1</h1>
                <iframe width="500" height="500" frameborder="0" scrolling="no" src="http://plot.ly/~R.melendez/14.embed?&link=false&modebar=false"></iframe>
            </div>

        </div>
    </div>

</body>
</html>

</body>
</html>